<launch>

    <arg name="project" default="lio_sam"/>
    
    <!-- Parameters -->
    <rosparam file="$(find lio_sam)/config/params_real_robot.yaml" command="load" />

    <!--- IMU -->
    <!-- <include file="$(find ros-ngimu)/launch/run.launch" /> -->
    <include file="$(find microstrain_inertial_driver)/launch/microstrain.launch" >
        <arg name="port" value="/dev/ttyACM2"/>
    </include>
    
    <!--- mecanum control -->
    <include file="$(find openrobot_control_6omni)/launch/openrobot_control_6omni.launch" />
    
    <!--- velodyne -->
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />

    <!--- LOAM -->
    <include file="$(find lio_sam)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
    <include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" />

    <!--- Run Navsat -->
    <include file="$(find lio_sam)/launch/include/module_navsat.launch" />

    <!--- Run Rviz-->
    <include file="$(find lio_sam)/launch/include/module_rviz.launch" />

</launch>
